<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleIdentifier</key>
    <string>com.tarik.kivodo</string>
    <key>CFBundleName</key>
    <string>Kivodo</string>
    <key>CFBundleExecutable</key>
    <string>Kivodo</string>
    <key>CFBundleIconFile</key>
    <string>Kivodo</string>
    <key>CFBundleIconName</key>
    <string>Kivodo</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>0.2.0</string>
    <key>CFBundleVersion</key>
    <string>2</string>
    <key>LSMinimumSystemVersion</key>
    <string>14.0</string>
    <key>LSUIElement</key>
    <true/>
    <key>NSRemindersFullAccessUsageDescription</key>
    <string>Kivodo saves your todos to Apple Reminders.</string>
    <key>SUFeedURL</key>
    <string>https://raw.githubusercontent.com/tarikd/kivodo/main/appcast.xml</string>
    <key>SUPublicEDKey</key>
    <string>yq9w5XtmZ6oANi7gSa8f0htUg0vxyhmIcv9pgeTo1YE=</string>
    <key>SUEnableAutomaticChecks</key>
    <true/>
</dict>
</plist>
